.project-done.clear.nitro
	.row
		.col-md-4.project
			a(href="https://www.gonitro.com")
				.project-container
					p GoNitro.com Website
					img(src="/images/projects/nitro/homepage.png")
		.col-md-4.project
			a(href="https://www.gonitro.com/no-roadblocks")
				.project-container
					p No RoadBlocks Campaign
					img(src="/images/projects/nitro/no-roadblocks.png")
		.col-md-4.project
			a(href="https://www.gonitro.com/9-questions-evaluating-software")
				.project-container
					p 9 Ways to Evaluate Software
					img(src="/images/projects/nitro/evaluate-software.png")
		.col-md-4.project
			a(href="https://www.gonitro.com/modern-change-management")
				.project-container
					p Modern Change Management
					img(src="/images/projects/nitro/change-management.png")