.project-done.react.active
	.row
		.col-md-4.project
			a(href="http://react.alexacker.me" target="_blank")
				.project-container
					p Book List
					img(src="/img/reactjs.png")
		.col-md-4.project
			a(href="http://redux.alexacker.me" target="_blank")
				.project-container
					p Comment Redux App
					img(src="/img/reduxjs.png")
		.col-md-4.project
			a(href="/" target="_blank")
				.project-container
					p Melbourne Train App
					img(src="/img/train.svg")