extends layout.pug

block metaSeo
	title About Me

block css
	link(rel="stylesheet", type="text/css" href="/css/pages/about.css")
block javaScript
	script.
		globalApp.elementAnimateComplete('#about .animate-left,#about .animate-right');
		globalApp.aboutComplete();

block content
	#about.pad-top-100
		.container
			.row
				.col-md-12
					.col-md-5.text-area.animate-left
						h1.center about me
						p.center Marketing and Front End Developer based in Melbourne, Australia
						p.center I enjoy blending marketing and web development to improve experiences and efficient. What I'm not coding or marketing, you'll find me at the local pub watching soccer or playing tennis.
					.col-md-4.photo80.animate-right
						img(src="/img/computer.png")
						img(src="/img/summer.png").palms
						img(src="/img/summer.png").palms.palms2
			.row
				.col-md-12
					.photo-row
						ul
							li
								img(src="/img/melbourne/melbourne-rooftop.jpg")
							li
								img(src="/img/likers.jpg")
							li
								img(src="/img/propaganda.jpg")
							li
								img(src="/img/alex-teeth.jpg")
	#skills
		.container
			.row
				.col-md-12
					.skill-text.animate-left
						h3.center Marketer
						ul
							li SEO
							li Pay Per Click
							li Web Analytics
							li A/B Testing
					.skill-text.animate-right
						h3.center Developer
						ul
							li Web Design and Development
							li Express JS
							li React/Redux
							li Gulp and Wepback
					.large-icon
						img(src="/img/laptop.png")
	#fun-facts
		.container
			.row
				.col-md-12
					.text-area.animate-left.animate-target
						h3.center Fun Facts
						ul
							li I worship Liverpool FC
							li I can still break 80 at golf
							li Coffee is an addition and it's got me good
							li I'm from LA but Melbourne is my true home.
					.large-icon.animate-right.animate-target
						img(src="/img/can.png")