extends layout.pug

block css
  link(rel="stylesheet", type="text/css" href="/stylesheets/projects/moviesearch.css")

block javaScript
  script(src='/javascripts/projects/moviesearch.js')

block content
  .main-header
    .container.clearfix
      h1.main-title MovieSearch
      form.search-form
        label.is-hidden(for='search') Search a title
        |  
        input#search(type='search', name='search', placeholder='Search a Title...')
        |  
        label.is-hidden(for='year') Any Year
        |  
        input#year(type='text', maxlength='4', name='year', placeholder='Year')
        |  
        button#submit.search-button(type='submit')
          i.material-icons.icn-search search
  .main-content.on-screen.clearfix
    ul#movies.movie-list
  #pagination-links
    ul.pagination
  .desc-content.clearfix
    .grey-area
      .container
        .back-results
          span Search results
    .desc-area
      .container
        .image-area
          img.desc-image(src='')
        .col-md-8.desc-content-area
          h1
          p.imdb-rating
            span#rating
              span
          h2 Plot Synopsis:
          p
          |  
          a.imdb-button(href='', target='_blank') View Rotten Tomato Page
