extends layout.pug

block css
  link(rel="stylesheet", type="text/css" href="/stylesheets/scss/pages/css/pagination1-min.css")

block javaScript
  script(src='/javascripts/projects/pagination.js')

block content
  .page
    .page-header.cf
      h2 Students
    ul.student-list
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/67.jpg')
          h3 iboya vat
          |  
          span.email iboya.vat@example.com
        .joined-details
          span.date Joined 07/15/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/75.jpg')
          h3 aapo niskanen
          |  
          span.email aapo.niskanen@example.com
        .joined-details
          span.date Joined 06/15/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/34.jpg')
          h3 phillip cox
          |  
          span.email phillip.cox@example.com
        .joined-details
          span.date Joined 09/11/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/38.jpg')
          h3 zilda moreira
          |  
          span.email zilda.moreira@example.com
        .joined-details
          span.date Joined 07/15/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/23.jpg')
          h3 lilou le gall
          |  
          span.email lilou.le gall@example.com
        .joined-details
          span.date Joined 06/16/13
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/94.jpg')
          h3 lucy hall
          |  
          span.email lucy.hall@example.com
        .joined-details
          span.date Joined 09/11/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/24.jpg')
          h3 mark colin
          |  
          span.email mark.colin@example.com
        .joined-details
          span.date Joined 01/14/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/14.jpg')
          h3 sara alves
          |  
          span.email sara.alves@example.com
        .joined-details
          span.date Joined 07/19/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/49.jpg')
          h3 ramon macrae
          |  
          span.email ramon.macrae@example.com
        .joined-details
          span.date Joined 05/13/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/15.jpg')
          h3 connor taylor
          |  
          span.email connor.taylor@example.com
        .joined-details
          span.date Joined 05/18/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/11.jpg')
          h3 aymeric morel
          |  
          span.email aymeric.morel@example.com
        .joined-details
          span.date Joined 06/13/13
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/49.jpg')
          h3 lorenz otto
          |  
          span.email lorenz.otto@example.com
        .joined-details
          span.date Joined 05/11/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/29.jpg')
          h3 karl williamson
          |  
          span.email karl.williamson@example.com
        .joined-details
          span.date Joined 01/12/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/34.jpg')
          h3 ouassim heering
          |  
          span.email ouassim.heering@example.com
        .joined-details
          span.date Joined 01/18/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/91.jpg')
          h3 roberto molina
          |  
          span.email roberto.molina@example.com
        .joined-details
          span.date Joined 06/13/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/28.jpg')
          h3 jordan hubert
          |  
          span.email jordan.hubert@example.com
        .joined-details
          span.date Joined 06/13/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/29.jpg')
          h3 melvin baker
          |  
          span.email melvin.baker@example.com
        .joined-details
          span.date Joined 09/18/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/26.jpg')
          h3 everett gordon
          |  
          span.email everett.gordon@example.com
        .joined-details
          span.date Joined 06/17/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/82.jpg')
          h3 aiden ma
          |  
          span.email aiden.ma@example.com
        .joined-details
          span.date Joined 07/18/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/62.jpg')
          h3 florent gerard
          |  
          span.email florent.gerard@example.com
        .joined-details
          span.date Joined 02/12/13
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/96.jpg')
          h3 amber chen
          |  
          span.email amber.chen@example.com
        .joined-details
          span.date Joined 07/12/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/9.jpg')
          h3 alexandra davies
          |  
          span.email alexandra.davies@example.com
        .joined-details
          span.date Joined 05/11/13
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/57.jpg')
          h3 sergio cole
          |  
          span.email sergio.cole@example.com
        .joined-details
          span.date Joined 02/17/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/98.jpg')
          h3 edgar dixon
          |  
          span.email edgar.dixon@example.com
        .joined-details
          span.date Joined 06/17/11
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/94.jpg')
          h3 kirk myers
          |  
          span.email kirk.myers@example.com
        .joined-details
          span.date Joined 09/17/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/28.jpg')
          h3 ani hesseling
          |  
          span.email ani.hesseling@example.com
        .joined-details
          span.date Joined 08/14/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/24.jpg')
          h3 victoire bonnet
          |  
          span.email victoire.bonnet@example.com
        .joined-details
          span.date Joined 05/13/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/44.jpg')
          h3 marcos morales
          |  
          span.email marcos.morales@example.com
        .joined-details
          span.date Joined 01/12/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/75.jpg')
          h3 nils neumann
          |  
          span.email nils.neumann@example.com
        .joined-details
          span.date Joined 03/11/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/86.jpg')
          h3 emily harrison
          |  
          span.email emily.harrison@example.com
        .joined-details
          span.date Joined 07/18/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/41.jpg')
          h3 matthew fortin
          |  
          span.email matthew.fortin@example.com
        .joined-details
          span.date Joined 03/18/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/32.jpg')
          h3 charlotte steward
          |  
          span.email charlotte.steward@example.com
        .joined-details
          span.date Joined 02/18/11
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/3.jpg')
          h3 marceau rodriguez
          |  
          span.email marceau.rodriguez@example.com
        .joined-details
          span.date Joined 07/13/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/91.jpg')
          h3 hudson anderson
          |  
          span.email hudson.anderson@example.com
        .joined-details
          span.date Joined 09/12/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/33.jpg')
          h3 warren phillips
          |  
          span.email warren.phillips@example.com
        .joined-details
          span.date Joined 01/11/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/41.jpg')
          h3 leo niva
          |  
          span.email leo.niva@example.com
        .joined-details
          span.date Joined 09/14/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/3.jpg')
          h3 hani prevoo
          |  
          span.email hani.prevoo@example.com
        .joined-details
          span.date Joined 01/11/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/79.jpg')
          h3 veronica rodriguez
          |  
          span.email veronica.rodriguez@example.com
        .joined-details
          span.date Joined 07/17/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/41.jpg')
          h3 ginestal das neves
          |  
          span.email ginestal.das neves@example.com
        .joined-details
          span.date Joined 06/19/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/63.jpg')
          h3 devon barnes
          |  
          span.email devon.barnes@example.com
        .joined-details
          span.date Joined 09/19/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/55.jpg')
          h3 brennan pierce
          |  
          span.email brennan.pierce@example.com
        .joined-details
          span.date Joined 05/15/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/35.jpg')
          h3 zachary singh
          |  
          span.email zachary.singh@example.com
        .joined-details
          span.date Joined 05/19/11
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/35.jpg')
          h3 arlo harris
          |  
          span.email arlo.harris@example.com
        .joined-details
          span.date Joined 07/12/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/60.jpg')
          h3 hannah ginnish
          |  
          span.email hannah.ginnish@example.com
        .joined-details
          span.date Joined 05/17/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/95.jpg')
          h3 goos brunt
          |  
          span.email goos.brunt@example.com
        .joined-details
          span.date Joined 09/15/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/91.jpg')
          h3 eduard riedel
          |  
          span.email eduard.riedel@example.com
        .joined-details
          span.date Joined 06/12/15
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/42.jpg')
          h3 geesken jekel
          |  
          span.email geesken.jekel@example.com
        .joined-details
          span.date Joined 02/12/13
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/54.jpg')
          h3 dolores ryan
          |  
          span.email dolores.ryan@example.com
        .joined-details
          span.date Joined 06/17/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/49.jpg')
          h3 steven rogers
          |  
          span.email steven.rogers@example.com
        .joined-details
          span.date Joined 01/18/11
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/63.jpg')
          h3 virgulino silva
          |  
          span.email virgulino.silva@example.com
        .joined-details
          span.date Joined 03/18/11
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/11.jpg')
          h3 lucile bertrand
          |  
          span.email lucile.bertrand@example.com
        .joined-details
          span.date Joined 06/13/16
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/10.jpg')
          h3 elsa lahti
          |  
          span.email elsa.lahti@example.com
        .joined-details
          span.date Joined 04/15/12
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/women/12.jpg')
          h3 soline leclercq
          |  
          span.email soline.leclercq@example.com
        .joined-details
          span.date Joined 05/12/14
      li.student-item.cf
        .student-details
          img.avatar(src='https://randomuser.me/api/portraits/thumb/men/89.jpg')
          h3 henri kruse
          |  
          span.email henri.kruse@example.com
        .joined-details
          span.date Joined 05/14/13