extends layout.pug 

block css
  link(rel="stylesheet", type="text/css" href="/stylesheets/scss/css/projects-min.css")

block javaScript
  script(src='/javascripts/projects-page-min.js')
  script.
    globalApp.totalAnimateComplete();

    $('span.category').on('click',function(){
      $('span.category').removeClass('active');
      $(this).addClass('active');
      var index = $(this).index('.category');
      $('.project-done').removeClass('active');
      $('.project-done').eq(index).addClass('active');
    });

block content  
  section#current-projects.pad-top-100
    .container
      .row
        #content-area.animate-left
          h1.spacing-adjustments My Projects
          p.desc
            | From jQuery drawings to Javascript click function, my projects are all a part of my coding and learning experiences. While they are currently live they always being updated and tweaked to help improve myself the users experience.
          .button-clear Get into it
        #project-list.animate-right
          img(src='/images/projects/atm.svg')
          |  
          img(src='/images/projects/briefcase.svg')
          |  
          img(src='/images/projects/cart.svg')
          |  
          img(src='/images/projects/presentation.svg')
  section#current
    .container
      h2.center What&apos;s I&apos;ve Got Done
      .project-status
        span.category.active Treehouse
        |  
        span |
        |  
        span.category freeCodeCamp
        |
        span |
        |
        span.category Udacity
        |
        span |
        |
        span.category Nitro (My Job)
      .project-holder
        include _partials/projects/_treehouse.pug
        include _partials/projects/_codecamp.pug        
        include _partials/projects/_udacity.pug
        include _partials/projects/_nitro.pug
