#loader-wrapper
  #loader
    .loader-section.section-left
    .loader-section.section-right
#weather-app
  .container
    .row
      h1 Navigator Weather App
      .metric.text-center.white
        span.fahren F °
        span |
        span.celcius C °
    .row
      .col-md-12.text-center.button-area
        button.btn.btn-primary.current-btn(type='button', data-toggle='button', aria-pressed='false') Current Weather
        button.btn.btn-success.forecast-btn(type='button') 7 Day Forecast
    .row
      .col-md-12.weather-area
        .weather-forecast.clearfix.inactive
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
          .forecast-col.text-center
            span.day MON
            img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg', alt='weather forecast')
            p MAX
            span.forecast-high.num.change 58
            p LOW
            span.forecast-low.num.change 40
            p CHANCE OF RAIN
            span.forecast-percip.num 20%
        .weather-current.animated
          img.img-fluid(src='https://image.flaticon.com/icons/svg/136/136723.svg')
          p Current Temperature
          h2.change 55
          button.btn.btn-outline-success.detail-button(type='button', data-toggle='collapse', data-target='#more-details', aria-expanded='false', aria-controls='more-details') More Details
          #more-details.collapse
            .row.text-center
              .col-md-4
                p Today's High
                span.today-high.change 80
                img(src='https://image.flaticon.com/icons/svg/136/136750.svg')
              .col-md-4
                p Today's Low
                span.today-low.change 50
                img(src='https://image.flaticon.com/icons/svg/136/136752.svg')
              .col-md-4
                p Chance of Rain
                span.chance-rain 80%
                img(src='https://image.flaticon.com/icons/svg/136/136733.svg')
