extends layout.pug

block css
	link(rel="stylesheet", type="text/css" href="/stylesheets/scss/css/wikipedia-min.css")

block javaScript
	script(src="/javascripts/projects/wikipedia.js")

block content
	#question-area
		.row
			.col-md-12
				h1.text-center Wiki Viewer
				.form
					form
						input.form-control(type='text', placeholder='Search Here')
						button.btn.btn-primary.search(type='submit') Search
						button.btn.btn-secondary.random(type='submit') Random
	#viewer-area
		.row