h1, h2, h3, h4, h5 {
  color: #484848;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif, helvetica; }

h1 {
  font-size: 50px;
  color: #fff; }

p {
  font-family: "Raleway", sans-serif, helvetica;
  color: #484848; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif, helvetica;
  color: #666; }

section {
  display: block; }

.clear:after {
  display: table;
  content: ' ';
  clear: both; }

.container {
  width: 95%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px; }

.center {
  text-align: center; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.pad-top-100 {
  padding-top: 100px; }

.pad-top-75 {
  padding-top: 75px; }

.pad-top-50 {
  padding-top: 50px; }

.pad-bottom-100 {
  padding-bottom: 100px; }

.pad-bottom-75 {
  padding-bottom: 75px; }

.pad-bottom-50 {
  padding-bottom: 50px; }

/********************** NAV *************************
*****************************************************/
.full-height {
  height: auto; }

#right-nav {
  display: none; }
  #right-nav a {
    color: #fff; }

.desktop-nav {
  display: none; }

.nav-logo {
  float: left; }

.nav-items {
  float: right; }
  .nav-items li {
    display: inline-block;
    color: white; }

#top-nav {
  position: relative; }
  #top-nav a {
    background-color: grey;
    border-radius: 4px;
    padding-top: 20px; }

.black-menu {
  font-size: 40px;
  width: 60px;
  padding: 0px 10px;
  color: #fff; }

.mobile-nav {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px; }
  .mobile-nav img {
    width: 75px; }
    .mobile-nav img:hover {
      cursor: pointer; }

#mobile-menu {
  padding: 20px 0;
  background-color: #3CADD4;
  display: block;
  position: absolute;
  top: -400px;
  width: 100%;
  z-index: 1; }
  #mobile-menu ul {
    padding-left: 0;
    position: relative; }
  #mobile-menu li {
    display: block;
    margin: 20px 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em; }
    #mobile-menu li a {
      color: #fff; }
  #mobile-menu .white-x {
    position: absolute;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    top: 0px;
    right: 10px; }

.nav-links {
  display: none; }

footer {
  padding: 40px 0;
  background-color: #F6F6F6;
  position: static;
  display: block; }
  footer .social-images img {
    height: 50px;
    width: 50px;
    margin: 0 15px; }
  footer .copyright {
    padding: 15px 0; }
    footer .copyright ul {
      padding: 0; }
      footer .copyright ul li {
        display: inline;
        margin: 0 5px;
        box-shadow: none; }
        footer .copyright ul li a {
          color: #aaa;
          text-decoration: none; }
  footer .icons-credit {
    margin: 0 auto;
    text-align: center; }

@media screen and (min-width: 700px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; }
  .animate-right {
    transform: translate(25px, 0);
    -webkit-transform: translate(25px, 0);
    -moz-transform: translate(25px, 0);
    transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    -webkit-transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    -moz-transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s; }
  .animate-left {
    transform: translate(-25px, 0);
    -webkit-transform: translate(-25px, 0);
    -moz-transform: translate(-125px, 0);
    transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    -webkit-transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    -moz-transition: all 0.8s cubic-bezier(0, 0.99, 0.29, 1.02);
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s; }
  .animate-complete {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0); }
  .pad-top-100 {
    padding-top: 100px; }
  .pad-top-75 {
    padding-top: 75px; }
  .pad-top-50 {
    padding-top: 50px; }
  .grey-out-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; }
  /********************** NAV *************************
*****************************************************/
  .hamburger-menu-desktop {
    width: 75px;
    position: absolute;
    right: 100px;
    top: 25px;
    display: none;
    cursor: pointer; }
  .nav-links {
    display: block;
    position: static;
    padding: 25px 0;
    width: 100%; }
    .nav-links a {
      color: #FFF; }
    .nav-links ul {
      float: right; }
      .nav-links ul li {
        display: inline-block;
        margin-left: 45px;
        font-size: 1em;
        color: white;
        padding: 10px 0 10px 0; }
  .black-nav li a {
    color: #404040 !important; }
  .nav-home-link {
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px 10px 0px; }
  /********************** DESKTOP NAV **************************
**************************************************************/
  .transparent {
    background-color: transparent; }
  .positioning {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1; }
  /********************** DESKTOP FIXES *************************
**************************************************************/
  .desktop-nav {
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    color: #fff; }
  .mobile-nav {
    display: none; }
  .nav-logo {
    margin-top: 20px; }
    .nav-logo a {
      text-decoration: none;
      color: white;
      font-size: 1.6em; }
  .nav-items {
    margin-top: 10px; }
  .desktop-nav-link {
    display: none; }
  #top-nav a {
    background-color: transparent;
    border-radius: 0px;
    padding-top: 0px; }
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px; }
  .photos-area {
    padding-top: 25px; }
  .image.fit {
    float: left;
    width: 45%; }
    .image.fit:nth-child(2) {
      margin-left: 10%; }
  .button.one,
  .button.two {
    width: 30%;
    margin-bottom: 0;
    display: inline-block; }
  .one {
    margin-right: 25%; }
  /* THIS NEEDS TO GET FIXED FOR SHORTER VIEW PORT */
  .image.rounded {
    width: 35%;
    float: left; }
  .content {
    width: 60%;
    margin: 0 auto;
    float: left;
    text-align: left; }
    .content p {
      width: 100%;
      text-align: left; }
  .image.rounded {
    margin-right: 5%; }
    .image.rounded img {
      max-width: 200px;
      width: 100%; }
  .feature-col {
    float: left;
    width: 50%; }
    .feature-col:nth-of-type(1) .image.rounded {
      float: right;
      margin-left: 5%;
      margin-right: 0px; }
    .feature-col:nth-of-type(1) .content {
      float: right;
      text-align: right; }
      .feature-col:nth-of-type(1) .content p {
        text-align: right; }
  /*************************  FOOTER ******************************/
  footer {
    width: 100%; } }

@media screen and (min-width: 1000px) {
  .desktop-nav .container {
    position: relative; }
  .nav-home-link {
    margin-left: 0px; } }

@media screen and (min-height: 800px) {
  /************************** LARGE DESKTOP FIXES *************************/
  footer.keep-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%; } }

/*# sourceMappingURL=_global-min.css.map */