

@media screen and (min-width: 700px) {

.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;

}
.animate-right {
	transform: translate(25px, 0);
	-webkit-transform: translate(25px, 0);
	-moz-transform: translate(25px, 0);
	transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-webkit-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-moz-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	transition-delay: .1s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;	
}
.animate-left {
	transform: translate(-25px, 0);
	-webkit-transform: translate(-25px, 0);
	-moz-transform: translate(-125px, 0);
	transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-webkit-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-moz-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	transition-delay: .1s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;	

}
.animate-complete {
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
}
.pad-top-100 {
	padding-top: 100px;
}
.pad-top-75 {
	padding-top: 75px;
}
.pad-top-50 {
	padding-top: 50px;
}
.grey-out-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;

}

/********************** NAV *************************
*****************************************************/

.hamburger-menu-desktop {
	width: 75px;
	position: absolute;
	right: 100px;
	top: 25px;
	display: none;


}

.hamburger-menu-desktop {
	cursor: pointer;
}


.nav-links {
	display: block;
	position: static;
	padding: 25px 0;
	width: 100%;

}

.nav-links ul {
	float: right;


}

.nav-links li {
	display: inline-block;
	margin-left: 45px;
	font-size: 1em;
	color: white;
	padding: 10px 0 10px 0;
}

.nav-links a {
	color: #fff;
}

.black-nav {
	color: #404040 !important;

}

.black-nav li a {
	color: #404040 !important;

}


.nav-home-link {
	display: block;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 10px 10px 0px;
}

/********************** HERO *************************
*****************************************************/

#top {
	min-height: 750px;
	background: #1D976C; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right bottom,#360033,#300e41,#223166,#105e94);
	background: linear-gradient(to right bottom,#360033,#300e41,#223166,#105e94);
	color: #fff;

}

#homepage-content {
	opacity: 0;
	transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	transition-delay: .1s;
	transform: translate(0, -25px);

}

#homepage-content.animate-complete{
	transform: translate(0, 0);
}


#homepage-content h1 {
	font-size: 5em;
	margin-top: 25px;
	margin-bottom: 15px;
	color: inherit;
	text-shadow: 1px 1px 3px #000;

}

#homepage-content h2 {
	color: inherit;
	margin-bottom: 200px;
	text-transform: none;

}


#header-skills {
	margin-top: 40px;
	margin-bottom: 80px;
	opacity: 1;
	transition: opacity .5s linear;

}

#header-skills li {
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	text-shadow: 1px 1px 3px #000;
	opacity: 0;
	transition: all .4s linear;

}

.skill-logo {
	margin-top: 20px;

}

.skill-logo img {
	width: 120px;

}

#top .red-button {
	margin-top: 50px;

}

#top p {
	font-size: 1.7em;

}

.background-overlay {
	padding: 0px;
	background: rgba(0,0,0,0.0);
}

#top .background-overlay{
	height: 500px;
}


/********************** POP NAV *************************
********************************************************/

#right-nav {
	display: block;
	width: 439px;
	position: absolute;
	top: 0;
	right: -500px;
	min-height: 100%;
	z-index: 999999;
	padding-left: 50px;
	background: rgba(0,0,0,0.85) 0%;
	display: block;


}

#right-nav .container {
	position: relative;
}

#right-nav .container ul {
	list-style: none;
	padding-left: 0;
}

#right-nav ul:first-child {
	padding-top: 80px;
	width: 50%;

}

#right-nav li {
	margin: 30px 0;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 1px solid #606060;
}

.close {
	position: absolute;
	top: 25px;
	right: 50%;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.header-sprite {
	background: url("img/header-sprite.png")

}

.close .header-sprite {
	width: 20px;
	height: 20px;
	background-position: 0 -6px;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	margin-left: 10px;
}


/********************** DESKTOP NAV **************************
**************************************************************/

.transparent {
	background-color: transparent;

}


.positioning {
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 1;

}


/********************** DESKTOP FIXES *************************
**************************************************************/

.desktop-nav {
	display: block;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	color: #fff;
}

.mobile-nav {
	display: none;
}

.nav-logo {
	margin-top: 20px;
}

.nav-logo a {
	text-decoration: none;
	color: white;
	font-size: 1.6em;
}


.nav-items {
	margin-top: 10px;
}


.desktop-nav-link {
	display: none;

}

#top-nav a {
	background-color: transparent;
	border-radius: 0px;
	padding-top: 0px;

}


.nav-links li a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

#one {
	padding: 60px 0;
	background-color: #FAFAFA;
	opacity: 1;
	transition: opacity .5s linear;
	-webkit-transition: opacity .5s linear;
	-moz-transition: opacity .5s linear;

}

#one .header {
	float: left;

}

#one .header-text {
	float: right;
}

.header {
	width: 30%;
	text-align: left;
	margin-left: 10%;
}

#one .header h2 {
	margin-top: 0px;
	margin-bottom: 30px;
}

.header-text {
	width: 35%;
	margin-right: 10%;
	text-align: left;
}

#one .header-text p {
	font-size: 15px;
	line-height: 30px;
}




.photos-area {
	padding-top: 25px;
}

.image.fit {
	float: left;
	width: 45%;

}

.image.fit:nth-child(2) {
	margin-left: 10%;
}

.photo-buttons {
	margin-top: 10px;

}

.button.one,
.button.two {
	width: 30%;
	margin-bottom: 0;
	display: inline-block;
}

.one {
	margin-right: 25%;
}



/* THIS NEEDS TO GET FIXED FOR SHORTER VIEW PORTH */

.image.rounded {
	width: 35%;
	float: left;
}

.content {
	width: 60%;
	margin: 0 auto;
	float: left;
	text-align: left;
}

.image.rounded {
	margin-right: 5%;s

}

.image.rounded img {
	max-width: 200px;
	width: 100%;

}


.feature-col {
	float: left;
	width: 50%;

}

.feature {
	min-height: 300px;
	padding: 20px;
}

.content p {
	width: 100%;
	text-align: left;
}

.feature-col:nth-of-type(1) .image.rounded {
	float: right;
	margin-left: 5%;
	margin-right: 0px;
}

.feature-col:nth-of-type(1) .content {
	float: right;
	text-align: right;
}

.feature-col:nth-of-type(1) .content p {
	text-align: right;
}

/* FIXED STATIC WIDTH CREATING AWKWARD COLAPSE BETWEEN ELEMENTS */

/*.feature-grid .feature .image img {
	width: 150px;
	height: 150px;
} */


#four .photo-buttons {
	width: 300px;

}

#three {
	opacity: 0;
	min-height: 750px;
	transition: opacity .5s linear;
	-webkit-transition: opacity .5s linear;
	-moz-transition: opacity .5s linear;	
}	

/*************************  FOOTER ******************************/

footer {
	width: 100%;

}


/************************* PROJECT PAGE ******************************
********************************************************************/

#current-projects {
	padding-top: 140px;
	padding-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
	background: linear-gradient(to right bottom,#01193e,#003b68,#0075ad,#179ccf);
	background: -webkit-linear-gradient(to right bottom,#01193e,#003b68,#0075ad,#179ccf);
	background: -moz-linear-gradient(to right bottom,#01193e,#003b68,#0075ad,#179ccf);
}
#current-projects .row {	
	position: relative;
}
#project-list {
	width: 400px;
	float: right;

}
#project-list img {
	width: 150px;
	margin: 15px;
}
#project-list img:nth-of-type(1),
#project-list img:nth-of-type(2){
	margin-top: 0px;
}
#project-list img:nth-of-type(3),
#project-list img:nth-of-type(4){
	margin-bottom: 0px;

}
#content-area {
	float: left;
	width: 400px;
	text-align: left;
}
#content-area h1 {
	padding-top: 0px;
	margin-bottom: 45px;
	margin-top: 0px;
	color: #fff;
}
.desc {
	width: 100%;
	text-align: left;
	margin: 0;
	color: #fff;
}
#content-area .desc {
	line-height: 25px;
}
.button-clear {
	color: #fff;
	padding: 20px;
	border-radius: 40px;
	border: 2px solid rgba(255,255,255,0.17);
	width: 200px;
	text-align: center;
	margin-top: 60px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	font-size: 17px;
	cursor: pointer;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
}
.button-clear:hover {
	border: 2px solid #fff;
}
.project {
	float: left;
	width: 33.3333%;
	margin: 30px auto;

}
.project-container {
	width: 250px;
	margin: 0 auto;
}
.project-caption {
	position: absolute;
	min-height: 200px;
	bottom: -400px;
	left: 0px;
	display: block;
	width: 100%;
	background-color: #e2e2e2;
	border-radius: 10px;
	padding: 10px;
	transition: bottom .5s ease-in-out;
	-webkit-transition: bottom .5s ease-in-out;
	-moz-transition: bottom .5s ease-in-out; 
}
#current {
	padding-bottom: 75px;
}
#current h2 {
	font-size: 40px;
}
#roadmap {
	padding-bottom: 40px;
	background-color: #fff;
}
#roadmap h2 {
	font-size: 30px;
}

/********************** ABOUT PAGE *************************
************************************************************/



#about {
	padding-bottom: 50px;
	border-bottom: 1px solid #e2e2e2;
	background-image: linear-gradient(to right bottom, #35115a 20%, #84355a 45%, #d25959 62%, #867e53 83%, #f9a24d 100%);
	background-image: -webkit-linear-gradient(to right bottom, #35115a 20%, #84355a 45%, #d25959 62%, #867e53 83%, #f9a24d 100%);
	background-image: -moz-linear-gradient(to right bottom, #35115a 20%, #84355a 45%, #d25959 62%, #867e53 83%, #f9a24d 100%);
	padding-top: 75px;
}

#about .row {
	max-width: 1000px;
	margin: 0 auto;
}

#about .row:nth-of-type(1){
	margin-top: 50px;
	padding-bottom: 20px;

}

#about h1 {
	margin: 20px auto 30px auto;
	text-align: left;
	width: 300px;
	color: #fff;

}

#about p {
	color: #fff;
}

#about p:nth-of-type(1){
	font-size: 1.3em;
	width: 300px;
	margin: 0 auto 30px auto;
	text-align: left;
	line-height: 30px;

}

#about p:nth-of-type(2){
	text-align: left;
	width: 300px;
	margin: 0 auto 10px auto;
	line-height: 30px;

}

#about .text-area {
	float: left;
}

#about .photo80 {
	float: right;
}


#about .photo-row {
	width: 100%;
	margin: 80px auto 0 auto;

}

#about .photo-row ul {
	text-align: center;
} 

#about .photo-row li {
	display: inline-block;
	padding: 6px;
	text-align: center;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	background-color: #e2e2e2;
	border-radius: 5px;
	margin: 5px;
}

#about .photo-row li img {
	width: 120px;
	height: 120px;
	border-radius: 5px;

}


#skills {
	min-height: 400px;
	padding: 130px 0px;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.02);

}

#skills .row {
	position: relative;
	top: 0px;
	max-width: 1040px;
	width: 90%;
	margin: 0 auto;	

}

#skills .skill-text:nth-of-type(1){
	float: left;

}

#skills .skill-text:nth-of-type(2){
	float: right;

}


#skills. .skill-text ul {
	text-align: center;

}

#skills .skill-text li {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	padding: 10px 0px;
}	

#skills .skill-text li:nth-of-type(4){
	margin-bottom: 25px;
}

.photo80 {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	padding-top: 10px;
	position: relative;

}

.photo80 img {
	width: 300px;
	border-radius: 6px;

}

img.palms {
	position: absolute;
	width: 120px;
	top: 150px;
	left: 0px;

}

img.palms2 {
	left: 178px;
}

.large-icon {
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.large-icon img{
	width: 240px;

}


#fun-facts {
	min-height: 400px;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	padding: 130px 0px;
}

#fun-facts .row {
	width: 90%;
	max-width: 1040px;
	margin: 0 auto;
}

#fun-facts .text-area {
	float: left;
	margin-left: 100px;

}

#fun-facts .large-icon {
	float: right;
	padding-top: 30px;
}

#fun-facts h3 {
	margin-bottom: 40px;

}


#fun-facts ul li {
	display: block;
	margin: 0 auto;
	font-size: 1.2em;
	padding: 10px 0px;
	text-align: center;

}


/********************** CONTACT PAGE *************************
************************************************************/

#form-area {
	padding-bottom: 80px;
	padding-top: 140px;
	background: linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);
	background: -moz-linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);
	background: -webkit-linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);	

}

#form-holder {
	width: 100%;
	margin: 0 auto;

}

#form-holder .text-area {
	float: left;
	width: 380px;
}

#form-holder form {
	float: right;
	width: 300px;
	padding-top: 5px;
}

#form-holder h1 {
	margin-top: 0px;
	text-align: left;
	color: #fff;

}

#form-holder p {
	text-align: left;
	color: #fff;
}

#form-holder .icons{
	width: 400px;
	margin: 0 auto;
	text-align: left;
	
}

#form-holder .icons li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;

}


#form-holder .icons img {
	width: 70px;

}



#form-holder #input button {
	display: block;
	margin: 50px auto 0 auto;
	padding: 20px 50px;
	background-color: #F32853;
	font-size: 1.4em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

#form-holder #input button:hover {
	background-color: #f43d64;

}

#freelance-work {
	padding-top: 50px;
	padding-bottom: 50px;

}

#freelance-work h2,
#freelance-work h3,
#freelance-work p {
	text-align: center;

}

.rounded-image-holder {
	text-align: center;
	width: 100%;

}

#freelance-work .rounded-image {
	background: url('/images/alex-looking-homepage.jpg');
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid #f2f2f2;


}

#freelance-work h2 {
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#freelance-work h3 {
	padding-top: 70px;
	margin: 15px 0;
	font-size: 20px;

}

.image-row {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;

}

.image-row img {
	width: 80px;
	display: inline-block;
	margin: 0 20px;

}


/*********************** MELBOURNE ALBUM *************************
*****************************************************************/

.album-cover {
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
		url('../img/melbourne/south-bank-eagle-min.jpg');
	background-position: 0% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 200px;
	padding-bottom: 200px;

}


.album-header-text {
	color: #fff !important;
	vertical-align: bottom;
}


.city-logo {
	width: 300px;
	padding-left: 20px;

}

#main-photo-area .mix {
	display: none;

}

.photo-container {
	width: 33%;
	padding: 4px; 
	margin-bottom: 2px;

}

.photo-holder img {
	width: 800px;

}

.arrow img {
	position: absolute;
	top: 50%;
	margin-top: -60px;
	width: 120px;
	display: none;
	cursor: pointer;

}

.back-arrow img {
	left: 10px;
}

.next-arrow img {
	right: 10px;

}


/* ********************* CLICK ON KNUDSDEN  ********************** */


main {
	padding-top: 20px;
	padding-bottom: 50px;
	min-height: 700px;

}

#game-area {
	min-height: 169px;
	transition: min-height .2s linear;
	-webkit-transition: min-height .2s linear;
	-moz-transition: min-height .2s linear;
	-o-transition: min-height .2s linear;

}

#game-title {
	text-align: center;

}

#game-title h1 {
	text-align: center;
	font-size: 40px;
	color: #666;
} 

#count-down {
	display: none;
	font-size: 100px;
	margin-top: 100px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;

} 

#game-title p {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

#knudsen-image {
	text-align: center;
	margin-top: 50px;


}

#knudsen-image img {
	width: 200px;
	border: 3px solid #f2f2f2;
	box-shadow: 0px 0px 10px #000;

}

#knudsen-rules {
	margin: 0 auto;
	width: 600px;
	padding: 40px 0;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -150px;
	background-color: #fff;


}

#knudsen-rules p {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;

}

#knudsen-rules ol {
	margin: 0 auto;
	width: 500px;
	padding-left: 50px; 

}

#knudsen-rules li {
	padding-left: 25px;
	margin-bottom: 15px;
	font-size: 16px;


}

#main-project-section {
	position: fixed;
	top: 5%;
	left: 10%;
	height: 90%;
	width: 80%;
	margin: 0 auto;
	border: 1px solid #e2e2e2;
	display: none;
	background-color: #fff;
}

#time-section {
	display: none;

}

.hide {
	display: none;

}

#box {
	position: absolute;
	display: none;

}

#box img {
	width: 130px;

}


#start-button-text {
	background-color: tomato;
	color: #fff;
	border-radius: 4px;
	border: 0px;
	padding: 30px 50px;
	font-weight: bold;
	font-size: 20px;
	transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	

}

#header-section,
#game-description {
	float: left;
	width: 50%;}

#start-game-area {
	padding-top: 80px;
	padding-bottom: 80px;

}

#start-game-area p {
	margin-top: 25px;
	font-size: 18px;
	cursor: pointer;
	width: 100px;
	margin-left: auto;
	margin-right: auto;

}

main .row {
	margin-top: 20px;
	padding-bottom: 20px;

}

.reset-area {
	margin-top: 15px;
}

#reset-button {
	cursor: pointer;
	font-size: 14px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;

}

#reset-button:hover {
	font-size: 15px;

}

.col-md-4 p:first-of-type {
	font-size: 22px;
}

#time, #attempts, #avg-time {
	font-size: 25px;
}

#time {

}

#attempts {

}

#avg-time {


}



}


/************************* IPAD FIXES ******************************/

@media screen and (min-width: 700px) and (max-width: 872px) {

/************************* HOMEPAGE ******************************
********************************************************************/


#one .header {
	float: none;
	width: 100%;
	margin: 0px;
	text-align: center;
}	

#one .header-text {
	float: none;
	width: 100%;
	margin: 0px;

}

/************************* PROJECT PAGE ******************************
********************************************************************/

#current-projects {
	padding-bottom: 60px;

}

#content-area {
	float: none;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

#content-area .desc {
	text-align: center;
}

#content-area .button-clear {
	margin-left: auto;
	margin-right: auto;

}

#project-list {
	float: none;
}

#project-list img {
	width: 120px;
	height: 120px;

}

.project {
	float: left;
	width: 33.3333%;
	margin: 0 auto;

}

.project-container {
	width: 220px;

}

#projects-done .project-container p {
	font-size: 15px;
	width: 100%;

}

.project-container img {
	width: 150px;

}




/************************* ABOUT PAGE ******************************
********************************************************************/


#about .photo80 {
	width: 250px;
}

.photo80 img {
	width: 250px;
}

img.palms {
	top: 147px;
	width: 80px;
}

img.palms2 {


}


#fun-facts .text-area {
	margin-left: 0px;


}

#fun-facts .large-icon {
	width: 350px;

}

/************************* CONTACT PAGE ******************************
********************************************************************/

#form-area {
	padding-bottom: 140px;
	padding-top: 140px;
	background-color: linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);
	background-color: -moz-linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);
	background-color: -webkit-linear-gradient(to right bottom,#131c47,#192152,#474c9a,#ac93d2);

}

#form-holder {
	width: 100%;
	margin: 0 auto;

}

#form-holder .text-area {
	float: left;
	width: 40%;
	margin-left: 0px;
}

#form-holder form {
	float: right;
	width: 300px;
}

#form-holder h1 {
	margin-top: 0px;
	text-align: left;

}

#form-holder p {
	text-align: left;
}

#form-holder .icons{
	width: 100%;
	margin: 0 auto;
	text-align: left;
	
}

#form-holder .icons li {
	display: inline-block;
	margin-top: 20px;

}

#form-holder .icons li:nth-of-type(odd){
	margin-right: 0px;
	margin-left: 0px;

}


#form-holder .icons img {
	width: 60px;

}



#form-holder #input button {
	display: block;
	margin: 50px auto 0 auto;
	padding: 20px 50px;
	background-color: #F32853;
	font-size: 1.4em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
}

#form-holder #input button:hover {
	background-color: #f43d64;

}


/*********************** MELBOURNE ALBUM *************************
*****************************************************************/

.album-cover {
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
		url('../img/melbourne/south-bank-eagle.jpg');
	background-position: 0% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 200px;
	padding-bottom: 200px;

}



}








/************************** LARGE DESKTOP FIXES *************************/

@media screen and (min-width: 1000px) {

.desktop-nav .container {
	position: relative;

}

.nav-home-link {
	margin-left: 0px;

}



/************************* HOMEPAGE ******************************
********************************************************************/






/************************* ABOUT PAGE ******************************
********************************************************************/


#about .photo80 {
	width: 370px;
	position: relative;
	top: -40px;
}

#about .photo80 img:nth-of-type(1){
	width: 370px;
}


#about .palms {
	top: 181px;

}

img.palms {
	width: 150px;
}

img.palms2 {
	left: 218px;

}

#about .photo-row {
	margin-top: 10px;
}

.large-icon img {
	width: 340px;
}

.skill-text {
	margin-top: 30px;

}

#fun-facts .text-area {
	margin-top: 30px;

}


/************************* CONTACT PAGE ******************************
********************************************************************/


#form-holder form {
	width: 400px;

}

#form-holder .text-area {
	margin-left: 0px;
}


/************************* CONTACT PAGE ******************************
********************************************************************/

.project-container {
	width: 280px;

}



}


@media screen and (min-height: 800px){

	footer.keep-bottom{
		position: absolute;
		bottom: 0px;
		width: 100%;
	}


}





