.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.animate-right {
	transform: translate(25px, 0);
	-webkit-transform: translate(25px, 0);
	-moz-transform: translate(25px, 0);
	transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-webkit-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-moz-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	transition-delay: .1s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;	
}
.animate-left {
	transform: translate(-25px, 0);
	-webkit-transform: translate(-25px, 0);
	-moz-transform: translate(-125px, 0);
	transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-webkit-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	-moz-transition: all .8s cubic-bezier(0,0.99,0.29,1.02);
	transition-delay: .1s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;	
}
.animate-complete {
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
}
.pad-top-100 {
	padding-top: 100px;
}
.pad-top-75 {
	padding-top: 75px;
}
.pad-top-50 {
	padding-top: 50px;
}
.grey-out-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

/********************** NAV *************************
*****************************************************/

.hamburger-menu-desktop {
	width: 75px;
	position: absolute;
	right: 100px;
	top: 25px;
	display: none;
	cursor: pointer;
}
.nav-links {
	display: block;
	position: static;
	padding: 25px 0;
	width: 100%;
	a {
		color: #FFF;
	}
	ul {
		float: right;
		li {
			display: inline-block;
			margin-left: 45px;
			font-size: 1em;
			color: white;
			padding: 10px 0 10px 0;	
		}
	}
}
.black-nav li a {
	color: #404040 !important;
}
.nav-home-link {
	display: block;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 10px 10px 0px;
}

/********************** DESKTOP NAV **************************
**************************************************************/

.transparent {
	background-color: transparent;

}
.positioning {
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 1;
}

/********************** DESKTOP FIXES *************************
**************************************************************/

.desktop-nav {
	display: block;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	color: #fff;
}
.mobile-nav {
	display: none;
}
.nav-logo {
	margin-top: 20px;
	a {
		text-decoration: none;
		color: white;
		font-size: 1.6em;		
	}
}
.nav-items {
	margin-top: 10px;
}
.desktop-nav-link {
	display: none;
}
#top-nav a {
	background-color: transparent;
	border-radius: 0px;
	padding-top: 0px;

}
.nav-links li a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

.photos-area {
	padding-top: 25px;
}
.image{
	&.fit {
		float: left;
		width: 45%;
		&:nth-child(2){
			margin-left: 10%;
		}
	}
}
.button.one,
.button.two {
	width: 30%;
	margin-bottom: 0;
	display: inline-block;
}
.one {
	margin-right: 25%;
}

/* THIS NEEDS TO GET FIXED FOR SHORTER VIEW PORT */

.image.rounded {
	width: 35%;
	float: left;
}
.content {
	width: 60%;
	margin: 0 auto;
	float: left;
	text-align: left;
	p {
		width: 100%;
		text-align: left;	
	}
}
.image.rounded {
	margin-right: 5%;
	img {
		max-width: 200px;
		width: 100%;		
	}
}
.feature-col {
	float: left;
	width: 50%;
	&:nth-of-type(1){
		.image {
			&.rounded {
				float: right;
				margin-left: 5%;
				margin-right: 0px;				
			}
		}
		.content {
			float: right;
			text-align: right;
			p {
				text-align: right;
			}
		}
	}
}
/*************************  FOOTER ******************************/
footer {
	width: 100%;
}