footer
	.container
		.social-images.center
			a(href="https://www.facebook.com/alex.acker.3" target="_blank")
				img(src="/images/facebook-icon.png")
			a(href="https://www.linkedin.com/in/alex-acker-63286a18" target="_blank")
				img(src="/images/linkedin-icon.png")
			a(href="https://twitter.com/acker5" target="_blank")
				img(src="/images/twitter-icon.png")
		.copyright.center
			ul
				li Alex Acker
				li
					a(href="/contact") Contact Me
				li
					a(href="/project") Projects
				li
					a(href="/blog") Blog
		.icons-credit Icons made by
			a(href="http://www.freepik.com" title="Freepik") Freepik
			span from
			a(href="http://www.flaticon.com" title="Flaticon") www.flaticon.com
			span is licensed by
			a(href="http://creativecommons.org/licenses/by/3.0" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY

include ./_globaljs.pug