script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='/javascripts/interactive-jquery.js')
script(src='/javascripts/jquery.mixitup.min.js')
script(src='/javascripts/photo-interaction.js')
if page === 'homepage'
	script(src='/javascripts/homepage.js')
if page === 'form'
	script(src="/javascripts/formSubmit.js")
