script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='/javascripts/interactive-jquery.js')
script(src='/javascripts/jquery.mixitup.min.js')
script(src='/javascripts/photo-interaction.js')
if page === 'homepage'
	script(src='/javascripts/homepage.js')
if page === 'form'
	script(src="/javascripts/formSubmit.js")
if page === 'project'
	script(type='text/javascript').
		var currentProjects = document.getElementById('current');
		var currentTop = currentProjects.offsetTop;
		var button = document.getElementsByClassName('button-clear')[0];
		$(button).click(function(){
		$('html,body').animate({
		scrollTop: $('#current').offset().top
		}, 600)
		});
		$('#current .project-status span.category').click(function(){
		if($(this).hasClass('active')){
		return false
		} else {
		$(this).toggleClass('active');
		$(this).siblings('.category').toggleClass('active');
		}
		});
if project === 'ticTacToe'
	script(src="/javascripts/projects/tictactoe.js")
