head
	block metaSeo
	meta(charset="UTF-8")
	meta(http-equiv="Content-type" content="text/html" charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="icon" type="image/png" href="/img/computer.png")
	link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,700" rel="stylesheet" type="text/css")
	link(rel="stylesheet", type="text/css" href="/css/main.css")
	block css
