nav.transparent.positioning
    .desktop-nav
        .nav-links.clear(style="display:block")
            .container
                a(href="/" class="nav-home-link") Alex Acker
                ul.right-nav
                    li
                        a(href="/project") Projects
                        ul.dropdown
                            li
                                a(href='/project/weather') Weather App
                            li
                                a(href='/project/wikipedia') Wikipedia Viewer
                            li
                                a(href='/project/tic-tac-toe') Tic Tac Toe Game
                            li
                                a(href='/project#current') All Projects
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
    .mobile-nav
        .black-menu &#9776;
    #mobile-menu
        ul.container.center
            li
                a(href="/") Home
            li
                a(href="/project") Projects
            li
                a(href="/about") About
            li
                a(href="/contact") Contact
            span.white-x X







