nav.transparent.positioning
    .desktop-nav
        .nav-links.clear(style="display:block")
            .container
                a(href="/" class="nav-home-link") Alex Acker
                ul
                    li
                        a(href="/project") Projects
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
    .mobile-nav
        .black-menu &#9776;
    #mobile-menu
        ul.container.center
            li
                a(href="/") Home
            li
                a(href="/project") Projects
            li
                a(href="/about") About
            li
                a(href="/contact") Contact
            span.white-x X







